// fonts

@import url('https://fonts.googleapis.com/css?family=Francois+One|Passion+One');

$pfont: 'Healvetica Neue', Helvetica, cursive;
$francy: 'Francois One', sans-serif;


// colors

$white: #fff;
$gmetal: #949292;
$smoke: #cac8c8;


// structure


